<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пост добавлен</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="{{ url_for('main_blueprint.page_index')}}" class="link">Назад</a>

    <h1>Пост добавлен! </h1>

    <div class="post">
        <img src="{{ post.picture }}" width="100%" alt="">
        <p>{{ post.content }}</p>
    </div>

    <hr>

    <a href="{{ url_for('loader_blueprint.add_post_form')}}" class="button">Добавить пост</a>

</main>
</body>
</html>
